body{
  background-color:#e3e3e3;
}
.App-header {
  display:flex;
  background-color: #282c34;
  padding-left:5%;


}

.test-box {
  height:100px;
  background-color: #61dafb;
}

.Header-text{
  color:white;
}

.Tasks-container{

  padding:10%;
 
}

.single-task-container{
  display:flex;
 
  justify-content:space-around; 
  background-color:white;
  border-radius:5px;
  margin-bottom:0.5%;
}

.text-container{
  
  width:80%;
}
.delete-button{

  height:50%;
  align-self:center;
}

.input-button-container{
  display:flex;


}
.add-task{
  padding:10px;
  width:100%;
  font-weight:bold;
  font-size:medium;
  

}

.add-task::placeholder{
 
 font-size:medium;
 font-weight:bold; 

}

.add-task-button{
  padding:10px;
  background-color:#218839;
  border:none;
  color:white;
  font-size: large;
  font-weight: bold;
}

